
---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

This resource binds a set of groups to a looker role.  This is an **additive and non-authorative** resource that grants groups to a role **in addition** to current groups configured in Looker.

~> **Note:** `looker_role_groups` **cannot** be used in conjunction with another `looker_role_groups` if they grant privilege to the same role, otherwise they will fight over what groups should be set.

{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

{{ codefile  " ```" .ImportFile }}

{{- end }}
