---
page_title: "{{title .ProviderShortName}} Provider"
subcategory: ""
description: |-
  The Looker Provider interacts with the Looker API to configure Looker resources.
---

# {{title .ProviderShortName}} Provider

## Example usage

```terraform
provider "looker" {
  base_url      = "https://"
  client_id     = "my-client-id"
  client_secret = "my-client-secret"
}
```

{{ .SchemaMarkdown | trimspace }}

## Environment Variables

You can configure the provider with the `LOOKERSDK_BASE_URL`,
`LOOKERSDK_CLIENT_ID`, `LOOKERSDK_CLIENT_SECRET` environment variables. You can
also skip SSL verification with `LOOKERSDK_VERIFY_SSL` and define the timeout
duration with `LOOKERSDK_TIMEOUT`.

```terraform
provider "looker" {}
```

### Example usage

```shell
LOOKERSDK_BASE_URL="<my-instance-url>" \
LOOKERSDK_CLIENT_ID="<my-client-id>" \
LOOKERSDK_CLIENT_SECRET="<my-client-secret>" \
terraform plan
```
