---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.461125ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-permission-set","permissions":["access_data","see_lookml_dashboards","see_lookml"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"362","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/362","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.458362ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_dataset_2","test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"374","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/374","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.491246ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/362?fields=id%2Cname%2Cpermissions
        method: GET
      response:
        body: '{"id":"362","name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.103424ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/374?fields=id%2Cname%2Cmodels
        method: GET
      response:
        body: '{"id":"374","models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.083934ms
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-role","permission_set_id":"362","model_set_id":"374"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles
        method: POST
      response:
        body: '{"id":"237","name":"test-acc-role","permission_set":{"built_in":false,"id":"362","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/362","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"374","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/374","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/237","users_url":"https://localhost:19999/api/4.0/roles/237/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.143367ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles/237
        method: GET
      response:
        body: '{"id":"237","name":"test-acc-role","permission_set":{"built_in":false,"id":"362","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/362","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"374","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/374","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/237","users_url":"https://localhost:19999/api/4.0/roles/237/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.533559ms
[...]
    - id: 17
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-permission-set","permissions":["see_lookml_dashboards","see_lookml"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/362
        method: PATCH
      response:
        body: '{"built_in":false,"id":"362","all_access":false,"name":"test-acc-permission-set","permissions":["see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/362","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.361176ms
    - id: 18
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/374
        method: PATCH
      response:
        body: '{"built_in":false,"id":"374","all_access":false,"models":["test_both_datasets","test_dataset_1"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/374","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.519122ms
[...]
