---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: client_id=YqgfsMCXHQ2pjJBB3qPk&client_secret=cQWp7BH7NxqMGq8yYygPp4TV&grant_type=client_credentials
        form:
            client_id:
                - YqgfsMCXHQ2pjJBB3qPk
            client_secret:
                - cQWp7BH7NxqMGq8yYygPp4TV
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token":"SZ7GTWrz7k4b8X9XSzFb9wtZdq9vYg4H5ZWzQNBK","token_type":"Bearer","expires_in":3599,"refresh_token":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.051789ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-parent-group"}'
        form: {}
        headers:
            Authorization:
                - Bearer SZ7GTWrz7k4b8X9XSzFb9wtZdq9vYg4H5ZWzQNBK
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups?fields=id%2Cname
        method: POST
      response:
        body: '{"id":"1104","name":"test-acc-parent-group"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.590574ms
[...]
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer SZ7GTWrz7k4b8X9XSzFb9wtZdq9vYg4H5ZWzQNBK
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1104?fields=id%2Cname%2Cexternally_managed
        method: GET
      response:
        body: '{"id":"1104","name":"test-acc-parent-group","externally_managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.313484ms
[...]
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"group_id":"1105"}'
        form: {}
        headers:
            Authorization:
                - Bearer SZ7GTWrz7k4b8X9XSzFb9wtZdq9vYg4H5ZWzQNBK
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1104/groups
        method: POST
      response:
        body: '{"can_add_to_content_metadata":true,"external_group_id":null,"id":"1105","name":"test-acc-child-group","user_count":0,"externally_managed":false,"include_by_default":false,"contains_current_user":false,"can":{"show":true,"create":true,"index":true,"update":true,"delete":true,"edit_in_ui":true,"add_to_content_metadata":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.995553ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer SZ7GTWrz7k4b8X9XSzFb9wtZdq9vYg4H5ZWzQNBK
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/search/with_hierarchy?id=1105
        method: GET
      response:
        body: '[{"can_add_to_content_metadata":true,"external_group_id":null,"id":"1105","name":"test-acc-child-group","user_count":0,"externally_managed":false,"include_by_default":false,"contains_current_user":false,"parent_group_ids":["1","1104"],"role_ids":[],"can":{"show":true,"create":true,"index":true,"update":true,"delete":true,"edit_in_ui":true,"add_to_content_metadata":true}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.968037ms
[...]
    - id: 13
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer VghprPBjkN4G9K2tFvFbHpCnjwxVq8dYVtsRSzQ5
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1104/groups/1105
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 145.966904ms
    - id: 14
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer VghprPBjkN4G9K2tFvFbHpCnjwxVq8dYVtsRSzQ5
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1104
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 98.632272ms
[...]
    - id: 16
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"group_id":"1104"}'
        form: {}
        headers:
            Authorization:
                - Bearer SZ7GTWrz7k4b8X9XSzFb9wtZdq9vYg4H5ZWzQNBK
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1105/groups
        method: POST
      response:
        body: |
            <!DOCTYPE html>
            <html>
            <head>
                <title>Looker Not Found (404)</title>
                <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

                <!-- @@@@@@@@@@@@@ FAVICONS @@@@@@@@@@@@@ -->

                <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://wwwstatic-b.lookercdn.com/favicon/apple-touch-icon-57x57.png" />
                <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://wwwstatic-c.lookercdn.com/favicon/apple-touch-icon-114x114.png" />
                <link rel="apple-[...]
