---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token":"[REDACTED]","expires_in":3600,"refresh_token":null,"token_type":"Bearer"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.072125ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"first_name":"Tina","last_name":"Fey"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users
        method: POST
      response:
        body: '{"allow_direct_roles":true,"allow_normal_group_membership":true,"allow_roles_from_normal_groups":true,"avatar_url":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=156\u0026d=blank","avatar_url_without_sizing":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=blank","can":{"index":true,"index_details":true,"show":true,"show_details":true,"sudo":true},"credentials_api3":[],"credentials_email":null,"credentials_embed":[],"credentials_google":null,"credentials_ldap":null,"credentials_looker_openid":null,"credentials_oidc":null,"credentials_saml":null,"credentials_totp":null,"display_name":"Tina Fey","email":"","embed_group_folder_id":null,"first_name":"Tina","group_ids":["1"],"home_folder_id":"1","id":"1144","is_disabled":false,"last_name":"Fey","locale":"en","looker_versions":[],"models_dir_validated":null,"personal_folder_id":"1175","presumed_looker_employee":false,"role_ids":[],"roles_externally_managed":false,"sessions":[],"ui_state":null,"url":"https://localhost:19999/api/4.0/users/1144","verified_looker_employee":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.410084ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"email":"test-acc@email.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/1144/credentials_email
        method: POST
      response:
        body: '{"can":{"show_password_reset_url":true},"created_at":"2022-10-05T11:22:29.000+00:00","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"logged_in_at":"","password_reset_url":"","type":"email","url":"https://localhost:19999/api/4.0/users/1144/credentials_email","user_url":"https://localhost:19999/api/4.0/users/1144"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.482375ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/1144/credentials_email/send_password_reset
        method: POST
      response:
        body: '{"can":{"show_password_reset_url":true},"created_at":"2022-10-05T11:22:29.000+00:00","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"logged_in_at":"","password_reset_url":"https://atoscerebro.cloud.looker.com/password/reset/wwfhdVNyJN5TvKF6YJMVyfW8kc97C8vv","type":"email","url":"https://localhost:19999/api/4.0/users/1144/credentials_email","user_url":"https://localhost:19999/api/4.0/users/1144"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.849ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/1144
        method: GET
      response:
        body: '{"allow_direct_roles":true,"allow_normal_group_membership":true,"allow_roles_from_normal_groups":true,"avatar_url":"https://gravatar.look[...]
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/1144/credentials_api3
        method: POST
      response:
        body: '{"can":{},"client_id":"[REDACTED]","client_secret":"[REDACTED]","created_at":"2022-10-05T11:22:30.000+00:00","id":"253","is_disabled":false,"type":"api3","url":"https://localhost:19999/api/4.0/users/1144/credentials_api3/253"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.518833ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/1144/credentials_api3/253
        method: GET
      response:
        body: '{"can":{},"client_id":"[REDACTED]","created_at":"2022-10-05T11:22:30.000+00:00","id":"253","is_disabled":false,"type":"api3","url":"https://localhost:19999/api/4.0/users/1144/credentials_api3/253"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.934875ms
[...]
