---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.45605ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test_acc_user_attribute_name","label":"test-acc-user-attribute-label","type":"number","default_value":"24","value_is_hidden":false,"user_can_view":true,"user_can_edit":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/user_attributes?fields=id
        method: POST
      response:
        body: '{"id":"427"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.605077ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-group"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups?fields=id%2Cname
        method: POST
      response:
        body: '{"id":"1209","name":"test-acc-group"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.185028ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/user_attributes/427
        method: GET
      response:
        body: '{"id":"427","name":"test_acc_user_attribute_name","label":"test-acc-user-attribute-label","type":"number","default_value":"24","is_system":false,"is_permanent":false,"value_is_hidden":false,"user_can_view":true,"user_can_edit":false,"hidden_value_domain_whitelist":null,"can":{"show":true,"index":true,"create":true,"show_value":true,"update":true,"destroy":true,"set_value":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.408998ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1209?fields=id%2Cname%2Cexternally_managed
        method: GET
      response:
        body: '{"id":"1209","name":"test-acc-group","externally_managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.635479ms
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[{"group_id":"1209","value":"25"}]'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/user_attributes/427/group_values
        method: POST
      response:
        body: '[{"id":"456","group_id":"1209","user_attribute_id":"427","value_is_hidden":false,"rank":1,"value":"25","can":{}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.465064ms
[...]
    - id: 13
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1209/attribute_values/427
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 123.295161ms
[...]
    - id: 15
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1209
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 107.951383ms
