---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: client_id=YqgfsMCXHQ2pjJBB3qPk&client_secret=cQWp7BH7NxqMGq8yYygPp4TV&grant_type=client_credentials
        form:
            client_id:
                - YqgfsMCXHQ2pjJBB3qPk
            client_secret:
                - cQWp7BH7NxqMGq8yYygPp4TV
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token":"BWRNrVQYzQPkQrb83vk9kxPj7Trf2hHt5WXVzWdq","token_type":"Bearer","expires_in":3599,"refresh_token":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.662178ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer BWRNrVQYzQPkQrb83vk9kxPj7Trf2hHt5WXVzWdq
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/search?name=All+Users
        method: GET
      response:
        body: '[{"can_add_to_content_metadata":true,"external_group_id":null,"id":"1","name":"All Users","user_count":21,"externally_managed":true,"include_by_default":true,"contains_current_user":true,"can":{"show":true,"create":true,"index":true,"update":false,"delete":false,"edit_in_ui":false,"add_to_content_metadata":true}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.59915ms
[...]
    - id: 11
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer hsK329hxvGmgxzfjR6xFmPFGw4CSczT2v49JcfFp
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/search?id=1
        method: GET
      response:
        body: '[{"can_add_to_content_metadata":true,"external_group_id":null,"id":"1","name":"All Users","user_count":21,"externally_managed":true,"include_by_default":true,"contains_current_user":true,"can":{"show":true,"create":true,"index":true,"update":false,"delete":false,"edit_in_ui":false,"add_to_content_metadata":true}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.124461ms
[...]
