---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.731352ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test_acc_user_attribute_name","label":"test-acc-user-attribute-label","type":"number","default_value":"24","value_is_hidden":false,"user_can_view":true,"user_can_edit":false}'
        form: {}
        headers:
            Authorization:
                - Bearer kfyJ355gH5SZH9S79zBrtBJbqHjGmff2WqwgBN2N
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/user_attributes?fields=id
        method: POST
      response:
        body: '{"id":"410"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.401588ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer kfyJ355gH5SZH9S79zBrtBJbqHjGmff2WqwgBN2N
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/user_attributes/410
        method: GET
      response:
        body: '{"id":"410","name":"test_acc_user_attribute_name","label":"test-acc-user-attribute-label","type":"number","default_value":"24","is_system":false,"is_permanent":false,"value_is_hidden":false,"user_can_view":true,"user_can_edit":false,"hidden_value_domain_whitelist":null,"can":{"show":true,"index":true,"create":true,"show_value":true,"update":true,"destroy":true,"set_value":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.526815ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"first_name":"John","last_name":"Doe"}'
        form: {}
        headers:
            Authorization:
                - Bearer kfyJ355gH5SZH9S79zBrtBJbqHjGmff2WqwgBN2N
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users
        method: POST
      response:
        body: '{"avatar_url":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=156\u0026d=blank","avatar_url_without_sizing":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=blank","credentials_api3":[],"credentials_email":null,"credentials_embed":[],"credentials_google":null,"credentials_ldap":null,"credentials_looker_openid":null,"credentials_oidc":null,"credentials_saml":null,"credentials_totp":null,"email":"","first_name":"John","id":"845","last_name":"Doe","locale":"en","looker_versions":[],"models_dir_validated":null,"ui_state":null,"embed_group_folder_id":null,"home_folder_id":"1","personal_folder_id":"877","presumed_looker_employee":false,"sessions":[],"verified_looker_employee":false,"roles_externally_managed":false,"allow_direct_roles":true,"allow_normal_group_membership":true,"allow_roles_from_normal_groups":true,"display_name":"John Doe","group_ids":["1"],"is_disabled":false,"role_ids":[],"url":"https://localhost:19999/api/4.0/users/845","can":{"show":true,"index":true,"show_details":true,"index_details":true,"sudo":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.981348ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"email":"test-acc@email.com"}'
        form: {}
        headers:
            Authorization:
                - Bearer kfyJ355gH5SZH9S79zBrtBJbqHjGmff2WqwgBN2N
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/845/credentials_email
        method: POST
      response:
        body: '{"created_at":"2022-09-29T09:24:00.000+00:00","logged_in_at":"","type":"email","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"password_reset_url":"","url":"https://localhost:19999/api/4.0/users/845/credentials_email","user_url":"https://localhost:19999/api/4.0/users/845","can":{"show_password_reset_url":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.037464ms
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer kfyJ355gH5SZH9S79zBrtBJbqHjGmff2WqwgBN2N
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/845/credentials_email/send_password_reset
        method: POST
      response:
        body: '{"created_at":"2022-09-29T09:24:00.000+00:00","logged_in_at":"","type":"email","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"password_reset_url":"https://atoscerebro.cloud.looker.com/password/reset/g5VxsbY7MHbJv793khCxb93nhj9PBPkQ","url":"https://localhost:19999/api/4.0/users/845/credentials_email","user_url":"https://localhost:19999/api/4.0/users/845","can":{"show_password_reset_url":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.068155ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer kfyJ355gH5SZH9S79zBrtBJbqHjGmff2WqwgBN2N
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/845
        method: GET
      response:
        body: '{"avatar_url":"https://gravatar.lookercdn.com[...]
    - id: 7
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"value":"25"}'
        form: {}
        headers:
            Authorization:
                - Bearer kfyJ355gH5SZH9S79zBrtBJbqHjGmff2WqwgBN2N
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/845/attribute_values/410
        method: PATCH
      response:
        body: '{"name":"test_acc_user_attribute_name","label":"test-acc-user-attribute-label","rank":-1,"value":"25","user_id":"845","user_can_edit":false,"value_is_hidden":false,"user_attribute_id":"410","source":"User Setting","hidden_value_domain_whitelist":null,"can":{"show":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.193714ms
    - id: 8
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer kfyJ355gH5SZH9S79zBrtBJbqHjGmff2WqwgBN2N
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/845/attribute_values?fields=user_attribute_id%2Cuser_id%2Cvalue%2Cvalue_is_hidden%2Csource
        m[...]
    - id: 9
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer kfyJ355gH5SZH9S79zBrtBJbqHjGmff2WqwgBN2N
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/845/attribute_values?fields=&user_attribute_ids=%22410%22
        method: GET
      response:
      [...]
[...]
