---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.265418ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-child-group"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups?fields=id%2Cname
        method: POST
      response:
        body: '{"id":"1192","name":"test-acc-child-group"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.282639ms
[...]
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1192?fields=id%2Cname%2Cexternally_managed
        method: GET
      response:
        body: '{"id":"1192","name":"test-acc-child-group","externally_managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.756593ms
[...]
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"group_id":"1192"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1193/groups
        method: POST
      response:
        body: '{"can_add_to_content_metadata":true,"external_group_id":null,"id":"1192","name":"test-acc-child-group","user_count":0,"externally_managed":false,"include_by_default":false,"contains_current_user":false,"can":{"show":true,"create":true,"index":true,"update":true,"delete":true,"edit_in_ui":true,"add_to_content_metadata":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.338485ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/search/with_hierarchy?id=1192
        method: GET
      response:
        body: '[{"can_add_to_content_metadata":true,"external_group_id":null,"id":"1192","name":"test-acc-child-group","user_count":0,"externally_managed":false,"include_by_default":false,"contains_current_user":false,"parent_group_ids":["1","1193"],"role_ids":[],"can":{"show":true,"create":true,"index":true,"update":true,"delete":true,"edit_in_ui":true,"add_to_content_metadata":true}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.076257ms
[...]
    - id: 13
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1193/groups/1192
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 119.849159ms
    - id: 14
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1192
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 96.093308ms
[...]
