---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.557296ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-permission-set","permissions":["access_data","see_lookml_dashboards","see_lookml"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"347","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/347","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.135788ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_dataset_2","test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"359","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/359","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.484732ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-group-2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups?fields=id%2Cname
        method: POST
      response:
        body: '{"id":"1178","name":"test-acc-group-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.352073ms
[...]
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/359?fields=id%2Cname%2Cmodels
        method: GET
      response:
        body: '{"id":"359","models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.559987ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1178?fields=id%2Cname%2Cexternally_managed
        method: GET
      response:
        body: '{"id":"1178","name":"test-acc-group-2","externally_managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.964546ms
    - id: 7
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/347?fields=id%2Cname%2Cpermissions
        method: GET
      response:
        body: '{"id":"347","name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.607654ms
[...]
    - id: 9
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-role","permission_set_id":"347","model_set_id":"359"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles
        method: POST
      response:
        body: '{"id":"226","name":"test-acc-role","permission_set":{"built_in":false,"id":"347","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/347","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"359","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/359","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/226","users_url":"https://localhost:19999/api/4.0/roles/226/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.362474ms
    - id: 10
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles/226
        method: GET
      response:
        body: '{"id":"226","name":"test-acc-role","permission_set":{"built_in":false,"id":"347","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/347","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"359","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/359","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/226","users_url":"https://localhost:19999/api/4.0/roles/226/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.343928ms
    - id: 11
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles/226/groups?fields=id
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.014905ms
    - id: 12
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '["1179","1178"]'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles/226/groups
        method: PUT
      response:
        body: '[{"can_add_to_content_metadata":true,"external_group_id":null,"id":"1178","name":"test-acc-group-2","user_count":0,"externally_managed":false,"include_by_default":false,"contains_current_user":false,"can":{"show":true,"create":true,"index":true,"update":true,"delete":true,"edit_in_ui":true,"add_to_content_metadata":true}},{"can_add_to_content_metadata":true,"external_group_id":null,"id":"1179","name":"test-acc-group-1","user_count":0,"externally_managed":false,"include_by_default":false,"contains_current_user":false,"can":{"show":true,"create":true,"index":true,"update":true,"delete":true,"edit_in_ui":true,"add_to_content_metadata":true}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.010522ms
[...]
    - id: 30
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1178
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 130.778708ms
[...]
    - id: 46
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/359
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 56.0975ms
    - id: 47
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/347
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 58.17448ms
