---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: client_id=YqgfsMCXHQ2pjJBB3qPk&client_secret=cQWp7BH7NxqMGq8yYygPp4TV&grant_type=client_credentials
        form:
            client_id:
                - YqgfsMCXHQ2pjJBB3qPk
            client_secret:
                - cQWp7BH7NxqMGq8yYygPp4TV
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token":"mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV","token_type":"Bearer","expires_in":3600,"refresh_token":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.860144ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-group"}'
        form: {}
        headers:
            Authorization:
                - Bearer mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups?fields=id%2Cname
        method: POST
      response:
        body: '{"id":"1107","name":"test-acc-group"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.201013ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1107?fields=id%2Cname%2Cexternally_managed
        method: GET
      response:
        body: '{"id":"1107","name":"test-acc-group","externally_managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.697787ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"first_name":"John","last_name":"Doe"}'
        form: {}
        headers:
            Authorization:
                - Bearer mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users
        method: POST
      response:
        body: '{"avatar_url":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=156\u0026d=blank","avatar_url_without_sizing":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=blank","credentials_api3":[],"credentials_email":null,"credentials_embed":[],"credentials_google":null,"credentials_ldap":null,"credentials_looker_openid":null,"credentials_oidc":null,"credentials_saml":null,"credentials_totp":null,"email":"","first_name":"John","id":"811","last_name":"Doe","locale":"en","looker_versions":[],"models_dir_validated":null,"ui_state":null,"embed_group_folder_id":null,"home_folder_id":"1","personal_folder_id":"843","presumed_looker_employee":false,"sessions":[],"verified_looker_employee":false,"roles_externally_managed":false,"allow_direct_roles":true,"allow_normal_group_membership":true,"allow_roles_from_normal_groups":true,"display_name":"John Doe","group_ids":["1"],"is_disabled":false,"role_ids":[],"url":"https://localhost:19999/api/4.0/users/811","can":{"show":true,"index":true,"show_details":true,"index_details":true,"sudo":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.266612ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"email":"test-acc@email.com"}'
        form: {}
        headers:
            Authorization:
                - Bearer mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/811/credentials_email
        method: POST
      response:
        body: '{"created_at":"2022-09-28T14:05:18.000+00:00","logged_in_at":"","type":"email","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"password_reset_url":"","url":"https://localhost:19999/api/4.0/users/811/credentials_email","user_url":"https://localhost:19999/api/4.0/users/811","can":{"show_password_reset_url":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.45953ms
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/811/credentials_email/send_password_reset
        method: POST
      response:
        body: '{"created_at":"2022-09-28T14:05:18.000+00:00","logged_in_at":"","type":"email","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"password_reset_url":"https://atoscerebro.cloud.looker.com/password/reset/gfC6rfKgVkjqqhznyymTSY87CVvvCJwX","url":"https://localhost:19999/api/4.0/users/811/credentials_email","user_url":"https://localhost:19999/api/4.0/users/811","can":{"show_password_reset_url":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.909822ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/811
        method: GET
      response:
        body: '{"avatar_url":"https://gravatar.lookercdn.com/avatar/62d851eae8b5277f4c2a533e6c239943?s=156\u0026d=blank",[...]
    - id: 7
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"user_id":"811"}'
        form: {}
        headers:
            Authorization:
                - Bearer mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1107/users
        method: POST
      response:
        body: '{"avatar_url":"https://gravatar.lookercdn.com/avatar/62d851eae8b5277f4c2a533e6c239943?s=156\u0026d=blank","avatar_url_without_sizing":"https://gravatar.lookercdn.com/avatar/62d851e[...]
    - id: 8
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/search?group_id=1107&id=811
        method: GET
      response:
        body: '[{"avatar_url":"https://gravatar.lookercdn.com/avatar/62d851eae8b5277f4c2a533e6c23[...]
[...]
    - id: 10
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer mVDm5dbHPjbpCtyGGz3KqNmT9TqJfQ8XHPYYRyTV
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1107
        method: GET
      response:
        body: '{"can_add_to_content_metadata":true,"external_group_id":null,"id":"1107","name":"test-acc-group","user_count":1,"externally_managed":false,"include_by_default":false,"contains_current_user":false,"can":{"show":true,"create":true,"index":true,"update":true,"delete":true,"edit_in_ui":true,"add_to_content_metadata":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.506555ms
[...]
    - id: 16
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer hpnpgd6JNsr9XQHCXwZm7GTRS7qr5p3FNGWC62rZ
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1107/users/811
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 111.279928ms
[...]
