---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.426016ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-group"}'
        form: {}
        headers:
            Authorization:
                - Bearer VpRcWMtGhz6wh3KntH2DhhTfdzQ92zCfXW7sPvy4
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups?fields=id%2Cname
        method: POST
      response:
        body: '{"id":"1166","name":"test-acc-group"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.280979ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test_acc_user_attribute_name","label":"test-acc-user-attribute-label","type":"number","default_value":"24","value_is_hidden":false,"user_can_view":true,"user_can_edit":false}'
        form: {}
        headers:
            Authorization:
                - Bearer VpRcWMtGhz6wh3KntH2DhhTfdzQ92zCfXW7sPvy4
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/user_attributes?fields=id
        method: POST
      response:
        body: '{"id":"407"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.123386ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer VpRcWMtGhz6wh3KntH2DhhTfdzQ92zCfXW7sPvy4
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1166?fields=id%2Cname%2Cexternally_managed
        method: GET
      response:
        body: '{"id":"1166","name":"test-acc-group","externally_managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.684469ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer VpRcWMtGhz6wh3KntH2DhhTfdzQ92zCfXW7sPvy4
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/user_attributes/407
        method: GET
      response:
        body: '{"id":"407","name":"test_acc_user_attribute_name","label":"test-acc-user-attribute-label","type":"number","default_value":"24","is_system":false,"is_permanent":false,"value_is_hidden":false,"user_can_view":true,"user_can_edit":false,"hidden_value_domain_whitelist":null,"can":{"show":true,"index":true,"create":true,"show_value":true,"update":true,"destroy":true,"set_value":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.752847ms
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[{"group_id":"1166","value":"25"}]'
        form: {}
        headers:
            Authorization:
                - Bearer VpRcWMtGhz6wh3KntH2DhhTfdzQ92zCfXW7sPvy4
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/user_attributes/407/group_values
        method: POST
      response:
        body: '[{"id":"451","group_id":"1166","user_attribute_id":"407","value_is_hidden":false,"rank":1,"value":"25","can":{}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.564115ms
[...]
    - id: 13
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer PcPWQyBg48cx3WJD97D5sZqHZ9FmVMjTMXcF6cYd
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1166/attribute_values/407
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 100.188232ms
    - id: 14
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer PcPWQyBg48cx3WJD97D5sZqHZ9FmVMjTMXcF6cYd
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1166
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 96.015055ms
[...]
