---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.633988ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-permission-set","permissions":["access_data","see_lookml_dashboards","see_lookml"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"434","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/434","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.751628ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_dataset_2","test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"446","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/446","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.680267ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/434?fields=id%2Cname%2Cpermissions
        method: GET
      response:
        body: '{"id":"434","name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.833428ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/446?fields=id%2Cname%2Cmodels
        method: GET
      response:
        body: '{"id":"446","models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.807597ms
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-role","permission_set_id":"434","model_set_id":"446"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles
        method: POST
      response:
        body: '{"id":"285","name":"test-acc-role","permission_set":{"built_in":false,"id":"434","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/434","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"446","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/446","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/285","users_url":"https://localhost:19999/api/4.0/roles/285/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.203373ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles/285
        method: GET
      response:
        body: '{"id":"285","name":"test-acc-role","permission_set":{"built_in":false,"id":"434","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/434","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"446","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/446","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/285","users_url":"https://localhost:19999/api/4.0/roles/285/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.145452ms
[...]
    - id: 17
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-permission-set","permissions":["see_lookml_dashboards","see_lookml"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/434
        method: PATCH
      response:
        body: '{"built_in":false,"id":"434","all_access":false,"name":"test-acc-permission-set","permissions":["see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/434","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.963174ms
    - id: 18
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/446
        method: PATCH
      response:
        body: '{"built_in":false,"id":"446","all_access":false,"models":["test_both_datasets","test_dataset_1"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/446","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.18121ms
[...]
