---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.902888ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_dataset_2","test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"360","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/360","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.449603ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-permission-set","permissions":["access_data","see_lookml_dashboards","see_lookml"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"348","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/348","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.646355ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/360?fields=id%2Cname%2Cmodels
        method: GET
      response:
        body: '{"id":"360","models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.155185ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/348?fields=id%2Cname%2Cpermissions
        method: GET
      response:
        body: '{"id":"348","name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.241724ms
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-role","permission_set_id":"348","model_set_id":"360"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles
        method: POST
      response:
        body: '{"id":"227","name":"test-acc-role","permission_set":{"built_in":false,"id":"348","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/348","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"360","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/360","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/227","users_url":"https://localhost:19999/api/4.0/roles/227/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.33277ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles/227
        method: GET
      response:
        body: '{"id":"227","name":"test-acc-role","permission_set":{"built_in":false,"id":"348","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/348","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"360","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/360","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/227","users_url":"https://localhost:19999/api/4.0/roles/227/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.550756ms
[...]
    - id: 17
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/360
        method: PATCH
      response:
        body: '{"built_in":false,"id":"360","all_access":false,"models":["test_both_datasets","test_dataset_1"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/360","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.694066ms
    - id: 18
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-permission-set","permissions":["see_lookml_dashboards","see_lookml"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/348
        method: PATCH
      response:
        body: '{"built_in":false,"id":"348","all_access":false,"name":"test-acc-permission-set","permissions":["see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/348","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.913732ms
[...]
