---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: client_id=YqgfsMCXHQ2pjJBB3qPk&client_secret=cQWp7BH7NxqMGq8yYygPp4TV&grant_type=client_credentials
        form:
            client_id:
                - YqgfsMCXHQ2pjJBB3qPk
            client_secret:
                - cQWp7BH7NxqMGq8yYygPp4TV
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token":"M3C6HTTQkHb7fW6swKfkZc2NQZ3Kf8wZzbsHfTQd","token_type":"Bearer","expires_in":3599,"refresh_token":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.527964ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-permission-set","permissions":["access_data","see_lookml_dashboards","see_lookml"]}'
        form: {}
        headers:
            Authorization:
                - Bearer M3C6HTTQkHb7fW6swKfkZc2NQZ3Kf8wZzbsHfTQd
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"318","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/318","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.582412ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_dataset_2","test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Authorization:
                - Bearer M3C6HTTQkHb7fW6swKfkZc2NQZ3Kf8wZzbsHfTQd
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"330","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/330","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.421616ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer M3C6HTTQkHb7fW6swKfkZc2NQZ3Kf8wZzbsHfTQd
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/318?fields=id%2Cname%2Cpermissions
        method: GET
      response:
        body: '{"id":"318","name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.542093ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer M3C6HTTQkHb7fW6swKfkZc2NQZ3Kf8wZzbsHfTQd
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/330?fields=id%2Cname%2Cmodels
        method: GET
      response:
        body: '{"id":"330","models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.608745ms
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-role","permission_set_id":"318","model_set_id":"330"}'
        form: {}
        headers:
            Authorization:
                - Bearer M3C6HTTQkHb7fW6swKfkZc2NQZ3Kf8wZzbsHfTQd
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles
        method: POST
      response:
        body: '{"id":"207","name":"test-acc-role","permission_set":{"built_in":false,"id":"318","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/318","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"330","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/330","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/207","users_url":"https://localhost:19999/api/4.0/roles/207/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.621413ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer M3C6HTTQkHb7fW6swKfkZc2NQZ3Kf8wZzbsHfTQd
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/roles/207
        method: GET
      response:
        body: '{"id":"207","name":"test-acc-role","permission_set":{"built_in":false,"id":"318","all_access":false,"name":"test-acc-permission-set","permissions":["access_data","see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/318","can":{"show":true,"index":true,"update":true}},"model_set":{"built_in":false,"id":"330","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/330","can":{"show":true,"index":true,"update":true}},"url":"https://localhost:19999/api/4.0/roles/207","users_url":"https://localhost:19999/api/4.0/roles/207/users","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.216028ms
[...]
    - id: 17
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-permission-set","permissions":["see_lookml_dashboards","see_lookml"]}'
        form: {}
        headers:
            Authorization:
                - Bearer xfdF4f6jV88gbZgZvRbGpJNfg6pb7b7CTkFJdVGP
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/permission_sets/318
        method: PATCH
      response:
        body: '{"built_in":false,"id":"318","all_access":false,"name":"test-acc-permission-set","permissions":["see_lookml","see_lookml_dashboards"],"url":"https://localhost:19999/api/4.0/permission_sets/318","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.566498ms
    - id: 18
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Authorization:
                - Bearer xfdF4f6jV88gbZgZvRbGpJNfg6pb7b7CTkFJdVGP
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/330
        method: PATCH
      response:
        body: '{"built_in":false,"id":"330","all_access":false,"models":["test_both_datasets","test_dataset_1"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/330","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.570625ms
[...]
