---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.758081ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"models":["test_dataset_2","test_both_datasets","test_dataset_1"],"name":"test-acc-model-set"}'
        form: {}
        headers:
            Authorization:
                - Bearer 3p53r6Jv25rGrNhmSnyg3GCYq2yqWnhF9BxWPCNH
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets
        method: POST
      response:
        body: '{"built_in":false,"id":"334","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/334","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.927988ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer 3p53r6Jv25rGrNhmSnyg3GCYq2yqWnhF9BxWPCNH
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/334?fields=id%2Cname%2Cmodels
        method: GET
      response:
        body: '{"id":"334","models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.107793ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer 3p53r6Jv25rGrNhmSnyg3GCYq2yqWnhF9BxWPCNH
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/model_sets/334
        method: GET
      response:
        body: '{"built_in":false,"id":"334","all_access":false,"models":["test_both_datasets","test_dataset_1","test_dataset_2"],"name":"test-acc-model-set","url":"https://localhost:19999/api/4.0/model_sets/334","can":{"show":true,"index":true,"update":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.554734ms
[...]
