---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.689346ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"first_name":"Tina","last_name":"Fey"}'
        form: {}
        headers:
            Authorization:
                - Bearer HmPzrDbZZdBNj4qY2ZxdcxctmBny6ZJSHGtVDsyD
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users
        method: POST
      response:
        body: '{"avatar_url":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=156\u0026d=blank","avatar_url_without_sizing":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=blank","credentials_api3":[],"credentials_email":null,"credentials_embed":[],"credentials_google":null,"credentials_ldap":null,"credentials_looker_openid":null,"credentials_oidc":null,"credentials_saml":null,"credentials_totp":null,"email":"","first_name":"Tina","id":"844","last_name":"Fey","locale":"en","looker_versions":[],"models_dir_validated":null,"ui_state":null,"embed_group_folder_id":null,"home_folder_id":"1","personal_folder_id":"876","presumed_looker_employee":false,"sessions":[],"verified_looker_employee":false,"roles_externally_managed":false,"allow_direct_roles":true,"allow_normal_group_membership":true,"allow_roles_from_normal_groups":true,"display_name":"Tina Fey","group_ids":["1"],"is_disabled":false,"role_ids":[],"url":"https://localhost:19999/api/4.0/users/844","can":{"show":true,"index":true,"show_details":true,"index_details":true,"sudo":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.420077ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"email":"test-acc@email.com"}'
        form: {}
        headers:
            Authorization:
                - Bearer HmPzrDbZZdBNj4qY2ZxdcxctmBny6ZJSHGtVDsyD
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/844/credentials_email
        method: POST
      response:
        body: '{"created_at":"2022-09-29T09:23:51.000+00:00","logged_in_at":"","type":"email","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"password_reset_url":"","url":"https://localhost:19999/api/4.0/users/844/credentials_email","user_url":"https://localhost:19999/api/4.0/users/844","can":{"show_password_reset_url":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.140029ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer HmPzrDbZZdBNj4qY2ZxdcxctmBny6ZJSHGtVDsyD
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/844/credentials_email/send_password_reset
        method: POST
      response:
        body: '{"created_at":"2022-09-29T09:23:51.000+00:00","logged_in_at":"","type":"email","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"password_reset_url":"https://atoscerebro.cloud.looker.com/password/reset/HCJbsCZnTvNSfsTbdzShsXKFqwGXHJr3","url":"https://localhost:19999/api/4.0/users/844/credentials_email","user_url":"https://localhost:19999/api/4.0/users/844","can":{"show_password_reset_url":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.562717ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer HmPzrDbZZdBNj4qY2ZxdcxctmBny6ZJSHGtVDsyD
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/844
        method: GET
      response:
        body: '{"avatar_url":"https://gravatar.lookercdn.com[...]
    - id: 5
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer HmPzrDbZZdBNj4qY2ZxdcxctmBny6ZJSHGtVDsyD
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/844/credentials_api3
        method: POST
      response:
        body: '{"id":"193","client_id":"PhtYK79M4b8xr5WP9TmD","created_at":"2022-09-29T09:23:51.000+00:00","type":"api3","client_secret":"gk9MTHtGxXpnrwSgr7ZJckRg","is_disabled":false,"url":"https://localhost:19999/api/4.0/users/844/credentials_api3/193","can":{}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.111617ms
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer HmPzrDbZZdBNj4qY2ZxdcxctmBny6ZJSHGtVDsyD
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/844/credentials_api3/193
        method: GET
      response:
        body: '{"id":"193","client_id":"PhtYK79M4b8xr5WP9TmD","created_at":"2022-09-29T09:23:51.000+00:00","type":"api3","is_disabled":false,"url":"https://localhost:19999/api/4.0/users/844/credentials_api3/193","can":{}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.446187ms
[...]
