---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '[REDACTED]'
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - '[REDACTED]'
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token": "[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.695628ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"name":"test-acc-group"}'
        form: {}
        headers:
            Authorization:
                - Bearer 7dXq5t253xPWBS3npWGNgsyJpcKc5Cv5TfnC76Ph
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups?fields=id%2Cname
        method: POST
      response:
        body: '{"id":"1162","name":"test-acc-group"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.455748ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer 7dXq5t253xPWBS3npWGNgsyJpcKc5Cv5TfnC76Ph
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1162?fields=id%2Cname%2Cexternally_managed
        method: GET
      response:
        body: '{"id":"1162","name":"test-acc-group","externally_managed":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.596429ms
[...]
    - id: 6
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer WBzFC6cqVskThJDQk2gVW5RxMcCtQzkmWVyzGR6s
            Content-Type:
                - application/json
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/groups/1162
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 116.757562ms
