---
version: 2
interactions:
    - id: 0
      request:
        host: atoscerebro.cloud.looker.com:443
        body: client_id=YqgfsMCXHQ2pjJBB3qPk&client_secret=cQWp7BH7NxqMGq8yYygPp4TV&grant_type=client_credentials
        form:
            client_id:
                - YqgfsMCXHQ2pjJBB3qPk
            client_secret:
                - cQWp7BH7NxqMGq8yYygPp4TV
            grant_type:
                - client_credentials
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/login
        method: POST
      response:
        body: '{"access_token":"6JPjQh9FkBvWNtBz5nk6K8MZDqbqq9yPKYZxr47M","token_type":"Bearer","expires_in":3600,"refresh_token":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.352541ms
    - id: 1
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"first_name":"John","last_name":"Doe"}'
        form: {}
        headers:
            Authorization:
                - Bearer 6JPjQh9FkBvWNtBz5nk6K8MZDqbqq9yPKYZxr47M
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users
        method: POST
      response:
        body: '{"avatar_url":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=156\u0026d=blank","avatar_url_without_sizing":"https://gravatar.lookercdn.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=blank","credentials_api3":[],"credentials_email":null,"credentials_embed":[],"credentials_google":null,"credentials_ldap":null,"credentials_looker_openid":null,"credentials_oidc":null,"credentials_saml":null,"credentials_totp":null,"email":"","first_name":"John","id":"813","last_name":"Doe","locale":"en","looker_versions":[],"models_dir_validated":null,"ui_state":null,"embed_group_folder_id":null,"home_folder_id":"1","personal_folder_id":"845","presumed_looker_employee":false,"sessions":[],"verified_looker_employee":false,"roles_externally_managed":false,"allow_direct_roles":true,"allow_normal_group_membership":true,"allow_roles_from_normal_groups":true,"display_name":"John Doe","group_ids":["1"],"is_disabled":false,"role_ids":[],"url":"https://localhost:19999/api/4.0/users/813","can":{"show":true,"index":true,"show_details":true,"index_details":true,"sudo":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.354687ms
    - id: 2
      request:
        host: atoscerebro.cloud.looker.com:443
        body: '{"email":"test-acc@email.com"}'
        form: {}
        headers:
            Authorization:
                - Bearer 6JPjQh9FkBvWNtBz5nk6K8MZDqbqq9yPKYZxr47M
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/813/credentials_email
        method: POST
      response:
        body: '{"created_at":"2022-09-28T14:05:55.000+00:00","logged_in_at":"","type":"email","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"password_reset_url":"","url":"https://localhost:19999/api/4.0/users/813/credentials_email","user_url":"https://localhost:19999/api/4.0/users/813","can":{"show_password_reset_url":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.712065ms
    - id: 3
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer 6JPjQh9FkBvWNtBz5nk6K8MZDqbqq9yPKYZxr47M
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/813/credentials_email/send_password_reset
        method: POST
      response:
        body: '{"created_at":"2022-09-28T14:05:55.000+00:00","logged_in_at":"","type":"email","email":"test-acc@email.com","forced_password_reset_at_next_login":false,"is_disabled":true,"password_reset_url":"https://atoscerebro.cloud.looker.com/password/reset/YxmS9PJygc3JyGPRvkGYfFzjmy2kd4mb","url":"https://localhost:19999/api/4.0/users/813/credentials_email","user_url":"https://localhost:19999/api/4.0/users/813","can":{"show_password_reset_url":true}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.050816ms
    - id: 4
      request:
        host: atoscerebro.cloud.looker.com:443
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer 6JPjQh9FkBvWNtBz5nk6K8MZDqbqq9yPKYZxr47M
            X-Looker-Appid:
                - go-sdk
        url: https://atoscerebro.cloud.looker.com:443/api/4.0/users/813
        method: GET
      response:
        body: '{"avatar_url":"https://gravatar.lookercdn.com/avatar/62d851eae8b5277f4c2a533e6c239943?s=156\u0026d=blank",[...]
[...]
